@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  h1 {
    @apply text-[#3769FF] font-semibold text-lg;
  }
}

:root {
  font-family: "Poppins", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply text-[#FF37CD];
  -ms-overflow-style: none;
  scrollbar-width: none;

  overflow-x: hidden;
}

*::-webkit-scrollbar {
  @apply w-0;
}

.router-link-active {
  @apply text-[#3769FF] font-semibold;
}

.router-link-exact-active {
  @apply cursor-default;
}
